<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.spring.lots.board.dto.member.MemberDTO" alias="member"/>
        <typeAlias type="com.spring.lots.board.dto.board.BoardDTO" alias="board"/>
        <typeAlias type="com.spring.lots.board.dto.board.BoardFileDTO" alias="boardFile"/>
    </typeAliases>
</configuration>