<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
    <!-- 게시글 저장 쿼리 -->
    <insert id="save" parameterType="board" useGeneratedKeys="true" keyProperty="id">
        insert into board (boardTitle, boardWriter, boardPassword, boardContents, fileAttached, memberId)
        values (#{boardTitle}, #{boardWriter}, #{boardPassword}, #{boardContents}, #{fileAttached}, #{memberId})
    </insert>
    <!-- 게시글 첨부 파일 저장 쿼리 -->
    <insert id="boardFile" parameterType="boardFile">
        insert into board_file (originalFileName, storedFileName, boardId)
        values (#{originalFileName}, #{storedFileName}, #{boardId})
    </insert>
    <!-- 게시글 목록 조회 쿼리 (페이징 처리 포함) -->
    <select id="list" parameterType="map" resultType="board">
        select id, boarTitle, boardWriter, boardHits, date_format(boardCreated, %Y-%m-%d) as boardCreated
        from board order by id desc limit #{pageSize} offset #{offset}
    </select>
    <!-- 전체 게시글 수 조회 -->
    <select id="getTotalBoardCount" resultType="int">
        SELECT COUNT(*) FROM board
    </select>
</mapper>